{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Findress{% endblock %}</title>
    
    <!-- 1. CARREGA O CSS GLOBAL (Comum a todos) -->
    <!-- Mudamos de 'style.css' para 'base.css' conforme o novo plano -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    
    <!-- 2. ESPAÇO RESERVADO PARA CSS ESPECÍFICO DAS PÁGINAS -->
    <!-- Isso permite que a home.html carregue o home.css, por exemplo -->
    {% block extra_css %}
    {% endblock %}
</head>
<body>

    <header class="main-header">
        <!-- Logo aponta para a Home -->
        <a href="{% url 'home' %}" class="logo">Findress</a>
        
        <nav class="main-nav">
            <!-- Links de Navegação -->
            <a href="{% url 'lista_pecas' %}">Meu Closet</a>
            <a href="{% url 'pagina_busca' %}">Buscar Peças</a>
            <a href="{% url 'sobre' %}">Sobre a Marca</a>
            
            <!-- Botão de Admin -->
            <a href="/admin/" class="nav-btn" target="_blank">Admin</a>
        </nav>
    </header>

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Rodapé Global -->
    <footer>
        <p>&copy; 2025 Findress - Seu estilo, suas regras.</p>
    </footer>
    
</body>
</html>