{% extends 'closet/base.html' %}

{% block title %}
  {% if busca %}
    Resultados para {{ busca }}
  {% else %}
    Meu Closet
  {% endif %}
{% endblock %}

{% block content %}
  
  <div class="page-header">
    {% if busca %}
      <h1>Exibindo resultados para: "{{ busca }}"</h1>
    {% else %}
      <h1>Todas as Peças do Closet</h1>
    {% endif %}
  </div>
  
  <table>
    <thead>
        <tr>
            <th>Nome da Peça</th>
            <th>Categoria</th>
            <th>Cor</th>
            <th>Tamanho</th>
        </tr>
    </thead>
    <tbody>
        {% for peca in pecas %}
          <tr>
            <td>{{ peca.nome_peca }}</td>
            <td>{{ peca.categoria }}</td>
            <td>{{ peca.cor }}</td>
            <td>{{ peca.tamanho }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">
              <div class="empty-message">
                {% if busca %}
                  Nenhuma peça encontrada com o termo "{{ busca }}".
                {% else %}
                  Seu closet está vazio. Que tal adicionar a primeira peça no <a href="/admin/">Admin</a>?
                {% endif %}
              </div>
            </td>
          </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}